@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


:root{
    --main-color: #f79918;
    --black: #000;
    --light-color: #888;
}

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

section{
    padding: 2rem 9%;
}

/* --------------------------------- header section starts ------------------------------  */

.header{
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .1rem solid #eee;
    position: relative;
    overflow-x: hidden !important;
}

.header .search-form{
    width: 27rem;
    height: 4rem;
    line-height: 4rem;
    border: .1rem solid #eee;
    position: relative;
    text-align: center;
    border-radius: 5rem;
    overflow: hidden;
    padding: 0 1rem;
}

.header .search-form #search-box{
    width: 100%;
    height: 100%;
    text-transform: none;
    padding-left: 3.5rem;
    font-size: 1.5rem;
}

.header .search-form label{
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light-color);
}

.header .search-form:hover{
    border-color: var(--light-color);
}

.header .logo{
    font-size: 2rem;
    color: var(--black);
    font-weight: bolder;
    text-transform: uppercase;
}


.header .icons a{
    font-size: 2rem;
    color: var(--black);
    padding: 1rem .5rem;
    margin: 0 .5rem;
}

.header .icons a:hover{
    color: var(--main-color);
}

.header #menu-btn{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 1.5rem;
    cursor: pointer;
    margin-left: 5rem;
}

.header #menu-btn:hover{
    color: var(--main-color);
    transform: rotate(360deg);
    transition: .5s linear;
}

.header .navbar{
    position: absolute;
    top: 100%;
    right: -110%;
    width: 30rem;
    height: 50rem;
    padding: 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    z-index: 100;
    background: #fff;
}

.header .navbar a{
    display:block;
    font-size: 1.5rem;
    color: #222;
    padding: .5rem 1.5rem;
    margin: .3rem;
}

.header .navbar a:first-child{
    color: var(--main-color);
}

.header .navbar a:hover{
    color: var(--main-color);
}

.header .navbar.active{
    right: 5%;
    transition: .5s ease;
}

/* --------------------------------- header section ends ------------------------------  */

/* ---------------------------------- home section starts ----------------------------  */

.home{
    text-align: center;
}

.home .heading{
    padding: 2rem 0;
    font-size: 4rem;
    color: var(--black);
}

.home .home-slider .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.home .home-slider .box .image{
    flex: 1 1 30rem;
    padding-right: 2rem;
}

.home .home-slider .box .content{
    flex: 1 1 45rem;
    text-align: left;
    padding: 0 2rem;
}

.home .home-slider .box .image img{
    width: 100%;
    border-radius: .5rem;
}

.home .home-slider .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bolder;
    padding-bottom: 1rem;
}

.home .home-slider .box .content p span{
    font-size: 1.5rem;
    color: #808080;
    font-weight: normal;
    margin: 0 .5rem;
}

.home .home-slider .box .content h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--light-color);
    padding-bottom: 1rem;
}

.home .home-slider .box .content .text{
    font-size: 1.3rem;
    color: #808080;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 2rem;
}

.home .home-slider .box .content .profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.home .home-slider .box .content .profile .image-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.home .home-slider .box .content .profile .content h2{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bold;
}

.home .home-slider .box .content .profile .content p{
    font-size: 1.3rem;
    color: var(--light-color);
    font-weight: normal;
}

.home .home-slider .swiper-wrapper{
    padding-bottom: 2rem;
}

.swiper-pagination-bullet-active{
    background: var(--main-color);
}

/* ---------------------------------- home section ends ----------------------------  */

/* ------------------------------------ post section starts --------------------------  */

.post .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.post .box-container .box{
    padding: 2rem;
    border-radius: .5rem;
}

.post .box-container .box .image{
    width: 100%;
    height: 25rem;
    overflow: hidden;
    padding-bottom: 2.5rem;
}

.post .box-container .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.post .box-container .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bolder;
    padding: .5rem 0;
}

.post .box-container .box .content p span{
    font-size: 1.5rem;
    color: #808080;
    font-weight: normal;
    margin: 0 .5rem;
}

.post .box-container .box .content h1{
    font-size: 1.7rem;
    font-weight: bold;
    color: #222;
    padding-bottom: .5rem;
}

.post .box-container .box .content .text{
    font-size: 1.3rem;
    color: #808080;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 2rem;
}

.post .box-container .box .content .profile{
    display: flex;
}

.post .box-container .box .content .profile .image-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.post .box-container .box .content .profile .content{
    margin-left: 1rem;
}

.post .box-container .box .content .profile .content h2{
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bold;
}

.post .box-container .box .content .profile .content p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: normal;
}

/* ------------------------------------ post section ends --------------------------  */

/* ------------------------------------- popular post section starts --------------------  */

.popular{
    text-align: center;
    padding-top: 2rem;
}

.popular .heading{
    font-size: 4rem;
    color: var(--black);
    padding: 4rem 0;
}

.popular .popular-slider .box{
    padding: 1rem;
}

.popular .popular-slider .box .image{
    width: 100%;
    height: 40rem;
    padding-bottom: 1rem;
}

.popular .popular-slider .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.popular .popular-slider .box .content{
    text-align: left;
}

.popular .popular-slider .box .content p{
    font-size: 1.5rem;
    color: var(--black);
    font-weight: bolder;
    padding: .5rem 0;
}

.popular .popular-slider .box .content p span{
    font-size: 1.5rem;
    color: #808080;
    font-weight: normal;
    margin: 0 .5rem;
}

.popular .popular-slider .box .content h1{
    font-size: 1.7rem;
    font-weight: bold;
    color: #222;
    padding-bottom: .5rem;
}

.popular .popular-slider .box .content .text{
    font-size: 1.3rem;
    color: #808080;
    font-weight: normal;
    line-height: 1.8;
    padding-bottom: 2rem;
}

.popular .popular-slider .box .content .profile{
    display: flex;
    padding-bottom: 4rem;
}

.popular .popular-slider .box .content .profile .image-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.popular .popular-slider .box .content .profile .content{
    margin-left: 1rem;
}

.popular .popular-slider .box .content .profile .content h2{
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bold;
}

.popular .popular-slider .box .content .profile .content p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: normal;
}

/* ------------------------------------- popular post section ends --------------------  */

/* --------------------------------------- last section starts ---------------------------  */

.lastest{
    padding-top: 8rem;
}

.lastest .box-container .col-1 .heading{
    font-size: 3rem;
    color: var(--black);
}

.lastest .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lastest .box-container .left-col{
    flex: 1 1 40rem;
    overflow: hidden;
}

.lastest .box-container .right-col{
    flex: 1 1 40rem;
}

.lastest .box-container .col-1 .box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.lastest .box-container .col-1 .box .image{
    flex: 1 1 5rem;
    overflow:hidden;
    height: 15rem;
    border-radius: .5rem;
    margin: 3rem 0;
}

.lastest .box-container .col-1 .box .content{
    flex: 1 1 20rem;
    text-align: left;
    padding-left: 1rem;
}

.lastest .box-container .col-1 .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lastest .box-container .col-1 .box .content p{
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bolder;
    padding: .5rem 0;
}

.lastest .box-container .col-1 .box .content span{
    font-size: 1.3rem;
    color: #808080;
    font-weight: normal;
    margin: 0 .5rem;
}

.lastest .box-container .col-1 .box .content h1{
    font-size: 1.7rem;
    font-weight: bolder;
    color: #222;
    padding-bottom: .5rem;
}

.lastest .box-container .col-1 .box .content .profile{
    display: flex;
}

.lastest .box-container .col-1 .box .content .profile  .image-1 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.lastest .box-container .col-1 .box .content .profile .content{
    margin-left: 1rem;
}

.lastest .box-container .col-1 .box .content .profile  .content h2{
    font-size: 1.3rem;
    color: var(--black);
    font-weight: bold;
}

.lastest .box-container .col-1 .box .content .profile .content p{
    font-size: 1.1rem;
    color: var(--light-color);
    font-weight: normal;
}

/* --------------------------------------- last section ends ---------------------------  */

/* ---------------------------------------- news section starts --------------------------  */

.news{
    margin: 4rem 0;
    padding: 8rem 0;
    background: #eee;
}

.news .box-container{
    padding: 0 9%;
}

.news .box-container .box .heading{
    font-size: 3rem;
    color: var(--black);
}

.news .box-container .box input{
    width: 65%;
    padding: 2rem;
    font-size: 1.5rem;
    text-transform: initial;
    border-radius: .5rem;
    border: .1rem solid var(--light-color);
}

.news .box-container .box .btn{
    width: 30%;
    background: var(--main-color);
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem;
    text-transform: uppercase;
}

/* ---------------------------------------- news section ends --------------------------  */

/* ------------------------------------------- footer section starts ---------------------  */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    background: #fafafa;
}

.footer .credit{
    font-size: 2.5rem;
    color: var(--black);
    line-height: 1.8;
    padding-bottom: 3rem;
}

.footer .credit span {
    margin: 0 .5rem;
    font-size: 3rem;
    font-weight: bolder;
    color: var(--main-color);
}

/* ------------------------------------------- footer section ends ---------------------  */





























/* -------------------------------------------- media queries starts ----------------------------  */

@media (max-width:991px){

    html{
        font-size: 55%;
        overflow-x: hidden !important;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

}

/* ------------------ for max-width: 768px ------------  */

@media (max-width:768px){
    
    .header{
        flex-direction: column-reverse;
    }

    .header .search-form{
        width: 100%;
        margin-top: 2rem;
    }

    .header .logo{
        position: absolute;
        top: 0;
        padding-top: 2rem;
        font-size: 2.5rem;
    }

    .header .icons{
        padding-top: 5rem;
    }

    .header .icons #menu-btn{
        margin-left: 30rem;
    }

    .home .home-slider .box .image{
        flex: 1 1 40rem;
        padding-bottom: 2rem;
        padding-right: 0;
    }

    .home .home-slider .swiper-wrapper{
        padding-bottom: 0;
    }

}

/* ------------------- for max-width: 450px --------------  */

@media (max-width:450px){

    html{
        font-size: 50%;
        overflow-x: hidden !important;
    }

    .header .icons #menu-btn{
        margin-left: 10rem;
    }
    
    .lastest .box-container .col-1 .box .image{
        flex: 1 1 15rem;
    }

    .news .box-container .box .heading{
        font-size: 2rem;
    }

    .news .box-container .box input{
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    .news .box-container .box .btn{
        width: 100%;
    }

}
